@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 261 73% 23%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.75rem;
    }

    .dark {
        --background: 0 0% 0%;
        --foreground: 210 40% 98%;

        --card: 263 12% 5%;
        --card-foreground: 210 40% 98%;

        --popover: 0 12% 5%;
        --popover-foreground: 210 40% 98%;

        --primary: 263 70% 60%;
        --primary-foreground: 0 0% 100%;

        --secondary: 263 6% 65%;
        --secondary-foreground: 210 40% 98%;

        --muted: 263 10% 16%;
        --muted-foreground: 263 10.2% 80%;

        --accent: 263 5% 16%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 75% 50%;
        --destructive-foreground: 343 78% 11%;
        --destructive-border: 210 40% 98%;

        --border: 240 5% 16%;
        --input: 240 5% 16%;
        --ring: 263 70% 60%;

        --gradient-primary-to: 263 70% 50%;
        --gradient-primary-from: 263 60% 33%;
        --gradient-primary-border: 263 99% 67%;

        --gradient-destructive-to: 0 75% 50%;
        --gradient-destructive-from: 3 86% 59%;
        --gradient-destructive-border: 11 83% 59%;

        --gradient-card-to: 226 68% 12%;
        --gradient-card-from: 227 47% 7%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

img:before {
    content: "Image is not listed";
    display: block;
    width: 0px;
    margin-bottom: 1000px;
}

img:after {
    content: "";
    width: 0px;
    display: block;
    font-size: 12px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

td {
    border: solid 1px #0f0b0b;
    border-style: none solid solid none;
    padding: 10px;
}

th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr,
td:first-child {
    border-top-left-radius: 10px;
}
tr,
td:last-child {
    border-top-right-radius: 10px;
}

tr,
td:first-child {
    border-bottom-left-radius: 10px;
}
tr,
td:last-child {
    border-bottom-right-radius: 10px;
}

tr:first-child td {
    border-top-style: solid;
}
tr td:first-child {
    border-left-style: solid;
}

.h-screen-without-navbar {
    height: calc(100vh - 5rem);
}
